<h1><%= @shelter.name %></h1>
Location: <%= @shelter.location%> 
<%= video_tag "puppylove.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "home_video" %>
<br>
<br>
<h3>All Pets</h3>
<p><% @shelter.pets.each do |pet| %>
Name: <%= link_to pet.name, pet %><br>
Breed: <%= pet.breed %> <br>
<br>
<% end %></p>

<p><%= link_to  "Return to #{@shelter.location} Locations", "/#{@shelter.location}" %></p>
<p><%= link_to  "View All Shelters", shelters_path %></p>

