
<h1><%= @pet.name %></h1>

Breed: <%= @pet.breed %> <br>
Gender: <%= @pet.gender %><br>
Age: <%= @pet.age %><br>
<%= button_to "New Appointment with #{@pet.name}", new_appointment_path, params: {pet_id: @pet.id}, method: :new%>
<%= image_tag "#{@pet.img_url}" %><br>


<p>View Shelter: <%= link_to @pet.shelter.name, "/shelters/#{@pet.shelter.id}" %></p>
