<h1><%= @user.name %></h1>
Home Loction: <%= @user.location %>
<p><%= link_to "#{@user.location} Shelters", "/#{@user.location}" %></p>
<p><%= link_to  "View All Shelters", shelters_path %></p>
<br>
<br>
<h3> Appointments </h3>
<% @user.appointments.each do |a| %>
Date/Time: <%= link_to a.date_time, a %><br>
<% end %>

<p><%= button_to "Delete Account", @user, :method => 'delete'%></p>





