<h1> Welcome To "Puppy Love" <%= @user.name %> ! </h1>
<br>
<h3>Current Location Is:  <%= @user.location %></h3>

<h3><p>Scheduled Appointments: <p></h3>
<% @user.appointments.each do |a|%>
Date/Time: <%= link_to a.date_time, a %><br>
 <% end %>
 <br>

<h3> Puppy Love Shelters </h3>
    <p>Nearest Shelter: <%= link_to "#{@user.location} Shelters", "/#{@user.location}" %></p>
    <p>All Shelters: <%= link_to  "View All", shelters_path %></p>
    <br>
    <br>
    <% if current_user == @user %>
    <%= button_to "Delete User Account", @user, :method => :delete, data: {confirm: "Are you sure?"}%><br>
    <% end %>
    <br>
    <%= button_to "Logout", logout_path, :method => :delete, data: {confirm: "Are you sure?" }%>
<h4> "We pride ourselves in being the #1 organization to provide our furry friends with safe homes here at Puppy Love!" </h4>