<h1> Welcome To "Puppy Love" <%= @user.name %> ! </h1>
<br>
<h4>Current Location Is:  <%= @user.location %></h4>

<p>Scheduled Appointments: <p>
<% @user.appointments.each do |a|%>
<%= link_to a.date_time, a %><br>
 <% end %>

 <br>

See All Shelters Near: <%= link_to "#{@user.location}", shelters_path %>
<br>
<%= button_to "Delete User Account", @user, :method => :delete, data: {confirm: "Are you sure?"}%><br>
<%= button_to "Schedule New Appointment", new_appointment_path %><br>
<br>
<h4> "We pride ourselves in being the #1 organization to provide our furry friends with safe homes here at Puppy Love!" </h4>