<h1> Schedule New Appointment </h1>

<%= form_for @appointment do |f| %>

<%= f.hidden_field :pet_id, value: @pet.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.datetime_field :date_time %>
<br>
<%= f.submit %>
<% end %>

 
    
    



