<h1> Appointment Confirmation </h1>
<%= video_tag "homepagedog.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "home_video" %>
<p> Pet Name: <%= @appointment.pet.name %>
<p> Shelter Name: <%= @appointment.pet.shelter.name %>
<p> Location: <%= @appointment.pet.shelter.location %>
<p> Date and Time: <%= @appointment.date_time %>

<br>
<p><%= link_to  "Return To User Page", user_path %><p>
<p><%= link_to "Edit Appointment", edit_appointment_path %></p>
<%= button_to "Cancel Appointment", @appointment, :method => :delete, data: {confirm: "Are you sure?"}%>
<br>
<h4> "We pride ourselves in being the #1 organization to provide our furry friends with safe homes here at Puppy Love!" </h4>
    

    


